<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <i class="bi bi-bank me-2"></i>Digital Banking
    </a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="toggleMenu()"
      [attr.aria-expanded]="!isMenuCollapsed"
      aria-controls="navbarNav"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [class.show]="!isMenuCollapsed"
      id="navbarNav"
    >      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/customers" routerLinkActive="active">
            <i class="bi bi-people me-1"></i> Customers
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/accounts" routerLinkActive="active">
            <i class="bi bi-bank me-1"></i> Accounts
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/customers/new"
            routerLinkActive="active"
          >
            <i class="bi bi-person-plus me-1"></i> New Customer
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
